*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#container{
    width: 580px;
    margin: 140 auto 0;
    text-align: center;
}

h1#logo{
    width: 269px;
    height: 95px;
    background: url("images/google.png") top left no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    margin: 0 auto ;
}

input[type="search"]{
    width: 570px;
    padding: 5px;
    height: 45px;
    margin: 25px 0 18px;
    border-radius: 25px ;
    border: solid 1px #ccc;
}

input[type="text"]:hover{
    border-color: #aaa;
}

input[type="submit"]{
    background: #eee;
    color: black;
    border: solid 1px #ddd;
    padding: 5px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    margin: 0 10px;
}

input[type="submit"]:hover{
    cursor: pointer;
}

small{
    display: block;
    margin: 12px 0 0 0;
    font-size: 12px;
}

a:link, a:visited{
    color: dodgerblue;

}

nav#header{
    text-align: right;
    padding: 20px;
}

nav#header ul li{
    display: inline;
    
}

nav#header ul li a:link,
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited{
    color: #555;
    padding: 10px;
    text-decoration: none;
}

nav#header ul li a:hover,
footer nav ul li a:hover{
    text-decoration: underline;
}

footer{
    background: #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav{
    padding: 20px;
}

footer nav ul li{
    display: inline;
}

footer nav ul{
    float: left;
}

footer nav ul.right-links{
    float: right;
    text-align: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}